/*
* Light theme (default style; these will be changed by JS code when the page loads)
*/
:root {
  --shadow-color: #5f5f5f;
  --border-color: #afafaf;
  --background-color: #dfdfdf;
  --background-color-heighten-1: #ffffff;
  --background-color-heighten-2: #dfdfdf;
  --background-color-heighten-3: #cfcfcf;
  --highlight-color: #26a69a;
  --text-color: #000000;
}

/*
* General styles (non-general styles are included in the individual .vue files)
*/
html,
body {
  min-height: 1vh;
  min-width: 1vw;
  background-color: var(--background-color);
}

p,
h1, h2, h3, h4, h5,
a,
li,
input,
span {
  color: var(--text-color);
}

.content-container {
  border-radius: 25px;
  margin: 50px;
  padding: 35px;
  background-color: var(--background-color-heighten-1);
  box-shadow: 2px 2px 2px 1px var(--shadow-color);
  border-color: var(--border-color);
  border-width: 1px;
  border-style: solid;
}

.content-container-within {
  border-radius: 25px;
  margin: 25px;
  padding: 20px;
  background-color: var(--background-color-heighten-2);
  box-shadow: 2px 2px 2px 1px var(--shadow-color);
  border-color: var(--border-color);
  border-width: 1px;
  border-style: solid;
}

.link {
  color: #26a69a;
}

.background-lighten-1 {
  background-color: var(--background-color-heighten-1);
}

.highlight {
  background-color: var(--highlight-color);
}

.hover-highlight:hover {
  background-color: var(--background-color-heighten-2);
}

.fullScreened {
  width: 100%;
}

/*
* Mobile styling
*/

@media (max-width: 780px) {
  h1 {
    font-size: 35px;
  }
  
  p {
    font-size: 12px
  }

  .content-container {
    border-radius: 25px;
    margin: 10px;
    padding: 20px;
    background-color: var(--background-color-heighten-1);
    box-shadow: 2px 2px 2px 1px var(--shadow-color);
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
  }
}